#nav1 {
    background-color: #2F5D62 !important; 
}
.texty {
    color: aliceblue !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    color: aliceblue !important;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;

}

body {
    background-image: url("../Images/Plantimage1.jpeg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .lefty {
    margin-left: 200px;
} */

h2 {
    font-size: 50px;
    color:  #2F5D62;
}

.aboutme {
  font-size: 18px;
  background-color: #DFEEEA;
  opacity: 90%;
}

.wrksection {
    background-color: #DFEEEA;
  opacity: 95%;

}

.description {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #5E8B7E;
    font-weight: 300;

}

